@model IssueTracker.Models.TicketsModel
@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<style>
    .selPeriod input {
        padding: 8px;
        font-size: 14px;
    }

    .btn-group button {
        color: #657c92;
        font-size: 14px;
        text-align: right;
        padding: 8px 20px;
        border: 1px solid #657c92;
    }
    .btn-group button:not(:nth-last-child(-n+2)) {
        border-radius: 0;
        border-right: none; /* Prevent double borders */
    }   
    .btn-group button.active {
        color: #fff;
        box-shadow: none;
        border-radius: 5px;
        background-color: #657c92;
    }

    .btnAddTicket {
        color: #657c92;
        float: right;
        font-size: 16px;
        font-weight: 500;
        background: none;
        border-radius: 13px;
        border: 2px solid #657c92;
    }
    .btnAddTicket:hover {
        color: #ffffff;
        background-color: #657c92;
    }

    .table tbody td,
    .table thead tr th {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .table tbody tr td {
        margin: 0px;
        padding: 10px;
        font-size: 12px;
        vertical-align: middle;
    }
    .table thead tr th {
        padding: 10px;
        font-size: 12px;
        font-weight: 600;
        vertical-align: middle
    }

    .ticketNumBtn {
        color: #657c92;
        font-weight: 500;
        text-decoration: none;
    }
</style>

<script>
    function btnNewTicket() {
        window.location.href = "/NewTicket/NewTicket";
    }

    document.addEventListener("DOMContentLoaded", function () {
        const dateCells = document.querySelectorAll(".tdCreatedDate");

        dateCells.forEach(function (cell) {
            const dateValue = new Date(cell.innerText);
            cell.innerText = dateValue.toLocaleDateString();
        });
    });

    $(function () {
        const buttons = document.querySelectorAll('#myButtonGroup button');

        for (let i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener('click', function () {
                $("#SelectedValue").val(this.value);
                const selectedVal = this.value;
                //document.forms["frmPaging"].submit();
            });
        }

        $("#myButtonGroup").on("click", "button", function () {
            $("#myButtonGroup button").removeClass("active");
            $(this).addClass("active");
        });
    });

    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        //document.forms["frmPaging"].submit();
    };
</script>

<div class="container-fluid">
    <!-- Header -->
    <h3>Tickets</h3>
    <nav class="d-flex justify-content-between mb-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Menu</li>
                <li class="breadcrumb-item active" aria-current="page">Tickets</li>
            </ol>
        </nav>
    </nav>
    <!-- End Header -->

    <!-- Filter -->
    <div class="row mb-4">
        <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
            <h6 class="text-muted">Search by:</h6>
            <div class="has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control shadow-sm" placeholder="Search" />
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 mb-3">
            <h6 class="text-muted">Select Period:</h6>
            <div class="d-flex justify-content-between gap-2 selPeriod">
                <input type="date" class="form-control" />
                <input type="date" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h6 class="text-muted">Filter by:</h6>
            <div id="myButtonGroup" class="btn-group">
                @foreach (var item in Model.Button_Value)
                {
                    if (item == Model.Button_Value.First())
                    {
                        <button class="btn active" value="@item.Id">@item.Value</button>
                    }
                    else
                    {
                        <button class="btn" value="@item.Id">@item.Value</button>
                    }
                }
            </div>
            @Html.HiddenFor(Model => Model.SelectedValue)
        </div>
    </div>
    <!-- End Filter -->

    <!-- Create Ticket Button -->
    <div class="mb-4">
        <button class="btnAddTicket" onclick="btnNewTicket()">
            <i class="fa fa-plus-circle"></i>&nbsp;Create Ticket
        </button>
    </div>
    <!-- End Create Ticket Button -->

    <!-- Tickets Table -->
    <form asp-action="Tickets" asp-controller="Tickets" class="pt-5" method="post" name="frmPaging">
        <div class="table-responsive">
            <label class="form-control-plaintext" style="font-size: 12px">@Html.Label(Model.TotalRecords)</label>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center">
                            @Html.DisplayNameFor(modelTitle => modelTitle.TicketID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelTitle => modelTitle.Subject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelTitle => modelTitle.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelTitle => modelTitle.RequestType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelTitle => modelTitle.Priority)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelTitle => modelTitle.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelTitle => modelTitle.Requester)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelTitle => modelTitle.CreatedDate)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TicketList)
                    {
                        <tr>
                            <td style="width: 5%; text-align: center">
                                @Html.ActionLink(item.TicketID, "TicketDetails", "TicketDetails", new { ID = item.TicketID }, new { @class = "ticketNumBtn" })
                            </td>
                            <td style="width: 40%">
                                @Html.DisplayFor(modelItem => item.Subject)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Priority)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requester)
                            </td>
                            <td class="tdCreatedDate">
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td style="text-align: center">
                                <a href="#" class="small" style="color: #115272;"> <i class="fa fa-ellipsis-v"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
    <!-- End Tickets Table -->
</div>