@model IssueTracker.Models.AccountModel
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<style>
    .card {
        border-radius: 15px;
    }

    .form-group {
        padding: 10px;
        font-size: 16px;
    }
    .form-group label {
        font-weight: 500;
    }
    .form-control:read-only {
        margin: 0;
        padding: 0;
        border: none;
        background-color: #fff;
    }
    .form-control:read-only:hover {
        cursor: not-allowed;
    }
    .form-control:read-only:focus {
        border: none;
    }

    .btnUpdate {
        font-size: 16px;
        font-weight: 500;
        border: 2px solid;
        border-radius: 13px;    
        padding: 8px 30px 8px 30px;
    }
    .btnUpdate:hover {
        border: 2px solid;
    }
    .btnUpdate:focus {
        box-shadow: none;
        border: 2px solid;
    }

    .btnEdit {
        color: #657c92;
        font-size: 12px;
        padding: 13px;
        width: 20px;
        height: 20px;
        display: flex;
        background: none;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        border: 1px solid #657c92;
    }
</style>

<div class="container-fluid">
    <!-- Header -->
    <h3>Account Settings</h3>
    <nav class="d-flex justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Setttings</li>
                <li class="breadcrumb-item active" aria-current="page">Account</li>
            </ol>
        </nav>
    </nav>
    <!-- End Header -->

    <div class="row p-2">
        <div class="col-sm-6 col-md-6 col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <h5 class="p-2">Account Information</h5>
                        </div>

                        <div class="d-flex">
                            <button class="btnEdit" >
                                <i class="fa fa-pen"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="text-black mb-1">Employee No.</label>
                        @Html.TextBoxFor(Model => Model.EmployeeNo, new { @class = "form-control", @readonly = "true" })
                    </div>
                    <div class="form-group">
                        <label class="text-black mb-1">First Name</label>
                        @Html.TextBoxFor(Model => Model.FirstName, new { @class = "form-control", @readonly = "true" })
                    </div>
                    <div class="form-group">
                        <label class="text-black mb-1">Middle Name</label>
                        @Html.TextBoxFor(Model => Model.MiddleName, new { @class = "form-control", @readonly = "true" })
                    </div>
                    <div class="form-group">
                        <label class="text-black mb-1">Last Name</label>
                        @Html.TextBoxFor(Model => Model.LastName, new { @class = "form-control", @readonly = "true" })
                    </div>
                    <div class="form-group">
                        <label class="text-black mb-1">User Role</label>
                        @Html.TextBoxFor(Model => Model.Role, new { @class = "form-control", @readonly = "true" })
                    </div>
                    <div class="form-group">
                        <label class="text-black mb-1">Email</label>
                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @readonly = "true" })
                    </div>
                    <div class="form-group">
                        <label class="text-black mb-1">Department</label>
                        @Html.TextBoxFor(Model => Model.Department, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="p-2">Security</h5>

                    <div class="form-group">
                        <label class="text-black mb-1">Access Code</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="text-black mb-1">Password</label>
                        <input type="password" class="form-control" />
                    </div>

                    <hr />

                    <h5 class="p-2">Change Password</h5>

                    <div class="form-group">
                        <label class="text-black mb-1">New Password</label>
                        <input type="password" class="form-control" placeholder="Enter new password" required />
                    </div>
                    <div class="form-group">
                        <label class="text-black mb-1">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Re-enter new password" required />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success btnUpdate">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>